<div class="main-container flex justify-center bg-white min-h-72 shadow-xl">
  <div
    class="footer-container container items-center flex flex-wrap flex-auto justify-between py-4"
  >
    <!-- left panel -->
    <div
      class="left-container flex items-end flex-col h-fit pr-4 basis-1/2 grow"
    >
      <p class="text-lg mb-1">لینک های مرتبط</p>
      <a href="https://www.google.com"><p>گوگل</p></a>
      <a href="https://www.rigbox.ir"><p>برش و تبدیل انلاین تصاویر</p></a>

      <p class="text-lg mb-1 mt-4">شبکه ها اجتماعی</p>
      <a class="flex gap-1 items-center" href="#"
        ><p>تلگرام</p>
        <img
          class="w-4 aspect-square"
          src="../../assets/footer/telegram.png"
          alt=""
      /></a>
      <a class="flex gap-1 items-center" href="#"
        ><p>ایمیل</p>
        <img
          class="w-4 aspect-square"
          src="../../assets/footer/email.png"
          alt=""
      /></a>
      <a class="flex gap-1 items-center" href="#"
        ><p>اینستاگرام</p>
        <img
          class="w-4 aspect-square"
          src="../../assets/footer/instagram.svg"
          alt=""
      /></a>

      <p class="text-md mt-4">شرایط و ضوابط</p>
      <p class="text-md mb-2 sm:m-0">حریم خصوصی</p>
    </div>

    <!-- right panel -->
    <div
      class="right-container flex items-end flex-col h-fit px-4 sm:pr-0 min-w-[320px] basis-1/2 grow border-t sm:border-t-0 sm:border-l"
    >
      <p class="text-lg mb-1 mt-2 sm:mt-0">حقوق تولید کنندگان محتوی</p>
      <p class="text-justify" style="direction : rtl;">
        این وب سایت و محتوای خصوصی آن متعلق به Masire-Roshan.ir 2022 © است. کلیه حقوق محفوظ است.
        <br>
        هرگونه توزیع مجدد یا تکثیر بخشی یا تمام مطالب بدون درج لینک و نام تولید گنندگان به هر شکلی ممنوع است.
      </p>

      <div class="creator-container flex items-center">
        <a class="text-lg mt-4 mr-2 text-red-500" href="https://uryzen317.ir"
          >Uryzen317</a
        >
        <p class="text-lg mt-4">توسط</p>
        <img
          class="w-5 aspect-square translate-y-2 mx-1 cursor-pointer"
          src="../../assets/footer/nestjs.png"
        />
        <img
          class="w-5 aspect-square translate-y-2 mr-1 cursor-pointer"
          src="../../assets/footer/angular.png"
        />
        <p class="text-lg mt-4">قدرت گرفته از</p>
      </div>

    </div>
  </div>
</div>
