<div
  class="main-container flex justify-center items-center"
  style="min-height : calc(100vh - 50px);"
>
  <!-- setting new password -->
  <div
    class="inner-container h-fit w-[350px] bg-white shadow-md rounded-sm overflow-hidden"
    *ngIf="token"
  >
    <!-- haader -->
    <div
      class="operations-container my-4 mx-12 flex justify-end border-b pb-4 border-teal-500 items-center"
    >
      <p
        class="hover:text-teal-500 cursor-pointer transition-color duration-200 text-lg"
        *ngIf="!setPasswordError"
      >
      رمز عبور جدیدتان را وارد کنید
      </p>
      <p
        class="hover:text-black text-red-500 cursor-pointer transition-color duration-200 text-lg"
        *ngIf="setPasswordError"
      >
        {{setPasswordError}}
      </p>
    </div>

    <div
      class="forms-container w-[700px] flex transition-all duration-200 ease-in-out h-fit"
    >
      <form
        class="order-2 w-[350px]"
      >
        <div class="login-container flex flex-col mx-12" id="login-section">
          <div class="login-username-container relative mb-4">
            <input
              class="outline-none py-4 px-2 text-md  border border-teal-500 w-full h-8 text-teal-800"
              style="direction:rtl;"
              id="login-username"
              type="text"
              name="password"
              #password
            />
          </div>

          <div class="submit-container flex justify-end items-center mb-4">
            <button
              class="relative border-teal-500 border p-1 text-lg w-24 overflow-hidden
                    before:transition-all before:duration-500 before:ease-in-out before:absolute before:h-full
                    before:w-12 before:bg-teal-500 before:top-0 before:-right-12 hover:before:right-24"
              type="submit"
              (click)='setPassword(password.value)'
            >
              تنظیم
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- request for a token -->
  <div
    class="inner-container h-fit w-[350px] bg-white shadow-md rounded-sm overflow-hidden"
    *ngIf="!token"
  >
    <!-- select operatino -->
    <div
      class="operations-container my-4 mx-12 flex justify-between border-b pb-4 border-teal-500 items-center"
    >
      <p
        class="text-teal-500 hover:text-black cursor-pointer transition-color duration-200 text-sm"
      >
        <a [routerLink]="['/', 'panel', 'registeration']">بازگشت</a>
      </p>
      <p
        class="hover:text-teal-500 cursor-pointer transition-color duration-200 text-lg"
      >
      فراموشی رمز عبور
      </p>
    </div>

    <div
      class="forms-container w-[700px] flex transition-all duration-200 ease-in-out h-fit"
    >
      <form
        class="order-2 w-[350px]"
        id="login-form"
        name="login"
        [formGroup]="loginForm"
        (ngSubmit)="loginSubmit()"
      >
        <div class="login-container flex flex-col mx-12" id="login-section">
          <div class="login-username-container relative mb-4">
            <label
              class="bg-white absolute top-0 right-0 mr-2 mt-[6px] text-teal-600
                    transition-all duration-50 ease-out select-none cursor-text"
              for="login-username"
              [style.fontSize]="loginInputsFilled[0] ? '14px' : '16px'"
              [style.top]="loginInputsFilled[0] ? '-22px' : '0px'"
              [style.lineHeight]="loginInputsFilled[0] ? '20px' : '24px'"
              *ngIf="!loginErrors.username.error"
              >ایمیل</label
            >
            <label
              class="bg-white absolute top-0 right-0 mr-2 mt-[6px] text-red-600
                    transition-all duration-50 ease-out select-none cursor-text"
              for="login-username"
              [style.fontSize]="loginInputsFilled[0] ? '14px' : '16px'"
              [style.top]="loginInputsFilled[0] ? '-22px' : '0px'"
              [style.lineHeight]="loginInputsFilled[0] ? '20px' : '24px'"
              *ngIf="loginErrors.username.error"
              >{{ loginErrors.username.error }}</label
            >
            <input
              class="outline-none py-4 px-2 text-md  border border-teal-500 w-full h-8 text-teal-800"
              style="direction:rtl;"
              id="login-username"
              type="text"
              name="username"
              formControlName="username"
              (focus)="toggleLoginInputsFilled(0, true)"
              (focusout)="toggleLoginInputsFilled(0, false)"
            />
          </div>

          <div class="submit-container flex justify-end items-center mb-4">
            <button
              class="relative border-teal-500 border p-1 text-lg w-24 overflow-hidden
                    before:transition-all before:duration-500 before:ease-in-out before:absolute before:h-full
                    before:w-12 before:bg-teal-500 before:top-0 before:-right-12 hover:before:right-24"
              id="google-login-button"
              type="submit"
            >
              بازیابی
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
